.new-incident-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin:0 auto;    /*faz com que fique centralizado*/
   
    display:flex;  /*flex box layout deixa mais facim para fzr os alinhamentos, ... faz com que todos os itens dentro do container fiquem lado a lado, ao nao ser que se use *flex-direction:column*, para alinhar um abaixo do outro*/
    align-items: center; /*alinha os itens verticalmente ao centro*/
    justify-content: center; /*alinha os itens horizontalmente ao centro*/
}

.new-incident-container .content{
    width:100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0,0,0,0.1); /*preto mas com 10% de opacidade*/
    border-radius: 8px;

    display: flex;          
    justify-content: space-between;  /*joga a section totalmente para a esquerda e o formulario totalmente para a direita e coloc um espaço entre eles*/
    align-items: center;
}

.new-incident-container .content section {
    width:100%;
    max-width: 380px;

}

.new-incident-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-incident-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-incident-container .content form {
    width: 100%;
    max-width: 450px;

}

.new-incident-container .content form input{
    margin-top: 8px;
}

.new-incident-container .content form textarea{
    margin-top: 8px;
}
